.table-of-contents {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: #1e273f;
  overflow: visible;                 
  transition: transform 0.3s ease;   
  display: flex;
  z-index: 1;
  flex-direction: column;
  transform: translateX(-230px);      
}

.table-of-contents:hover {
  transform: translateX(0);        
}

.table-of-contents .content {
  padding: 20px;
  overflow-y: auto;
  flex: 1;
}

.table-of-contents h2 {
  margin: 0 0 20px 0;
  color: #fff;
  font-size: 1.2rem;
}
.table-of-contents ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.table-of-contents li {
  padding: 8px 0;
  color: #ccc;
  transition: color 0.2s ease;
}
.table-of-contents li:hover {
  color: #007bff;
}