.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  
  background:linear-gradient(to top, #1e273f, #0f1724);
  padding:20px;
  border-radius:8px;
  border:1px solid rgba(255,255,255,0.02)
}

.heading {
  margin-bottom: 50px;
  text-align: center;
}

.moduleList {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.moduleLink {
  cursor: pointer;
  color: white;
  margin-bottom: 12px;
  font-size: 1.1rem;
  transition: color 0.2s, text-decoration 0.2s;
}

.moduleLink:hover {
  color: #1e90ff;
  text-decoration: underline;
}
